<div class="container">
    <div class="top-bar">
        <div class="logo">
            <img src="./assets/icon/Icon (1).svg" alt="Grocery" class="logo__img">
            <h2 class="logo__title">grocerymart</h2>
        </div>
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">Departments</a>
                    <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="navbar__arrow">
                </li>
                <li>
                    <a href="" class="navbar__link">Grocery</a>
                    <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="navbar__arrow">
                </li>
                <li>
                    <a href="" class="navbar__link">Beauty</a>
                    <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="navbar__arrow">
                </li>
            </ul>
        </nav>
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img src="../assets/icon/sreach.svg" alt="" class="top-act__icon">
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="../assets/icon/heart.svg" alt="" class="top-act__icon">
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img src="../assets/icon/Buy.svg" alt="" class="top-act__icon">
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img src="./assets/img/uifaces-popular-image.jpg" alt="" class="top-act__avatar">
            </div>
        </div>
    </div>
</div>