.slideshow{
    margin: 40px 0px;
    &__inner{
        display: flex;
        overflow: hidden;
    }

    &__item{
        flex-shrink: 0;
        width: 100%;
    }

    &__img{
        width: 100%;
    }
}