.header {
  background: var(--header-bg-color);
  padding: 30px 0px;
}
@media (max-width: 575.98px) {
  .header {
    padding: 16px 0px;
  }
}
@media (max-width: 991.98px) {
  .header {
    padding: 20px 0px;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .top-bar {
    justify-content: space-between;
    padding: 16px 0;
  }
}

.navbar {
  margin-left: 144px;
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 30% 0 0;
    z-index: 9;
    margin-left: 0;
    background: var(--slidebar-bg);
    padding: 20px 0;
    translate: -100%;
    transition: 0.5s;
  }
  .navbar.show {
    translate: 0;
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
    transition: opacity, visibility;
    transition-duration: 0.5s;
  }
}
.navbar__close {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close {
    display: block;
    padding: 10px 20px;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 20px);
  }
}
.navbar__link {
  padding: 20px 0px;
  height: 50px;
  gap: 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 991.98px) {
  .navbar__link {
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-right: 20px;
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
}
.navbar__arrow {
  margin-top: 3px;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
    transition: rotate 0.3s;
  }
}
.navbar__item--active .navbar__arrow {
  rotate: 0deg;
}

.top-act {
  display: flex;
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0;
  }
  .top-act__sign-up {
    margin-left: 20px;
    height: 40px !important;
    padding: 0 8px !important;
    font-size: 1.5rem !important;
  }
}
.top-act__group {
  display: flex;
  align-items: center;
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
}
@media (max-width: 575.98px) {
  .top-act__group {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  cursor: pointer;
}
.top-act__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-group-separate);
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.nav-btn {
  align-items: center;
  padding: 10px 20px;
}
.nav-btn__title {
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 146.667%;
}
.nav-btn__qnt {
  margin-left: auto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  .btn-text {
    display: none !important;
  }
}

/*# sourceMappingURL=index.css.map */
